<!DOCTYPE html>
<html>
  <head>
    <title>Motiv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCN8Wsp5NgLfN-3DXaTQEwOPytC86qf7rE" %>

    <script type="text/javascript">
      window.motiv = "<%= image_url('motiv.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
